@import "theme-partials/_override-bootstrap.scss";
@import "bootstrap.scss";



@import "theme-partials/_fonts.scss";
@import "theme-partials/_animations.scss";

@import "theme-partials/_base.scss";
@import "theme-partials/_lead-section.scss";
@import "theme-partials/_header.scss";
@import "theme-partials/_golden-section.scss";
@import "theme-partials/_spa-section.scss";
@import "theme-partials/_services_home.scss";
@import "theme-partials/_nature-section.scss";
@import "theme-partials/_tradition-section.scss";
@import "theme-partials/_sidebar.scss";
@import "theme-partials/_footer.scss";
@import "theme-partials/_history-era-section.scss";
@import "theme-partials/_water-section.scss";
@import "theme-partials/_single-section.scss";
@import "theme-partials/_services.scss";