$bg-booking:#424bf5;

.services-section{
    background-color: $bg-booking;

    .booking-section{


        .card-title{
            color: black;
            font-family: $p-font;
        }

        .booking-picture{
            
            height: 100%;
            width: 100%;
        }
    }
}

.travel-section{
    
    .title{
        flex: 0 0 50%;
    }
    
    a{
        flex: 0 0 50%;
    }
    
    .tab-content{
        color: black;
    }
}