
body{
    color: #fff;
}

main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.water-section{
    margin-bottom: 5rem;
    
    .water-description{
        
    }
    
    .icon{
        width: 100%;
        font-size: 15rem;
        background-color: #007bff;
        text-align: center;
    }
    
    .balaton,
    .sosto,
    .feher,
    .tisza{
        height: 26.2rem;
        width: 100%;
    }
    
    a{
        display: block;
        color: #fff;
        margin-bottom: 2rem;
    }
}

@media(min-width: 576px){
    
  
}

@media(min-width:992px){
    
    .icon{
        padding-top: 5rem;
    }
    

    
    p{
        font-size: 2rem;
    }
}